{# src/Esprit/AdminBundle/Resources/views/Admin/index.html.twig #}
 
 
{% extends "EspritMangerBundle::layout.html.twig" %}
 
{% block title %}
  Admin - {{ parent() }}
{% endblock %}
 
{% block espritadmin_body %}
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Gestion des Collaborateurs</h1>
 
  <hr>
 
  <h2>Liste des Collaborateurs </h2>
 
  <ul>
    {% for collaborateur in collaborateurs %}
      <li>
        <a href="{{ path('espritcollaborateur_voir', {'id': collaborateur.id}) }}">{{ collaborateur.nom }} {{ collaborateur.prenom }}</a>
        {# service :{{collaborateur.service }},#}
        le {{ collaborateur.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de collaborateur</li>
    {% endfor %}

  </ul>
 
{% endblock %}