{# src/Esprit/AdminBundle/Resources/views/Admin/supprimer.html.twig #}
 
{% extends "EspritMangerBundle::layout.html.twig" %}
 
{% block title %}
  Supprimer un manager- {{ parent() }}
{% endblock %}
 
{% block  espritadmin_body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>Gestion des Managers</h1>
 
  <hr>
  <h2>Supprimer un Manger</h2>
 
  <p>
    Etes-vous certain de vouloir supprimer ce Manger "{{ manager.nom }} {{ manager.prenom }} " ?
  </p>
 
  {# On met l'id de Manager dans la route de l'action du formulaire #}
  <form action="{{ path('espritmanager_supprimer', {'id': manager.id}) }}" method="post">
    <a href="{{ path('espritmanager_voir', {'id': manager.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour au Manager
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
 
{% endblock %}